@media screen and (min-width: $mobile) {

.asset-list {
  display: flex;
  padding: 0px;
  flex-direction: column;
  margin: -30px 0px -94px 0px;

  &__paragraph-headline {
  justify-content: center;
  text-align: center;
  color: $fontColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  }

  &__paragraph-text {
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: $nrColor;
    margin-bottom: 30px;
  }

  &__icon {
    display: flex;
    width: 450px;
    height: 120px;
    padding: 25px 190px;
    background-color: $teamBgColor;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}
}

@media screen and (min-width: $desktop){
  .asset-list {
    padding: 0px 15px;
    margin: 0px 0px -94px 0px;
    flex-direction: row;

    &__paragraph-headline{
      text-align: left;
    }
  
    &__icon {
      width: 270px;
      height: 120px;
      padding: 25px 100px 25px 100px; 
    }
   }
  }



@media screen and (min-width: $tablet) and (max-width: 1199px) {

  .asset-list{
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;

    &__paragraph-text{
      justify-content: center;
      text-align: left;
      width: 354px;
      
    }

    &__icon{
      width: 339px;
      height: 120px;
      padding: 25px 130px;
    }
  }
}