.foot {
  background-color: $bgColor;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__links {
    display: flex;
    font-style: normal;
    text-align: center;
    flex-direction: column;
  }

  &--logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 20px 0px;
  }

  &__street {
    color: white;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__headline {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.03em;
  }

  &__contact {
    color: $footFontColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $hoverColor;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--mail {
      display: flex;
      padding: 9px 0px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      justify-content: center;
    }
  }
}

.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 137px;

  &__list {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-direction: row;
  }

  &__icon-circle {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: $hoverColor;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline: none;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    fill: #fff;
    cursor: pointer;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-form {
    display: flex;
    flex-direction: column;
  }

  &-mail__mailbox {
    width: 450px;
    height: 50px;
    background-color: $bgColor;
    border: 1px $newsletterBorder solid;
    border-radius: 4px;
    color: #fff;
    padding: 15px 0px 15px 16px;
    outline: none;
    margin: 20px 0px;

    &::placeholder {
      color: $footFontColor;
    }
  }

  &-btn {
    background-color: $hoverColor;
    width: 200px;
    height: 50px;
    margin: 0px 0px 60px 125px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &__font {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      color: #fff;
      letter-spacing: 0.06em;
      display: inline;
    }

    &__icon {
      fill: #fff;
      position: relative;
      top: 6px;
      left: 12px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .foot {
    flex-direction: row;

    &__links {
      margin: 0px 0px 60px 15px;
      text-align: left;
      flex-direction: row;
    }

    &--logo {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__contact {
      &--mail {
        justify-content: flex-start;
      }
    }
  }

  .join-us {
    margin: 72px 0px 0px 70px;
    align-items: flex-start;
  }

  .newsletter {
    margin: 72px 0px 0px 78px;
    align-items: flex-start;

    &-form {
      align-items: center;
      flex-direction: row;
    }

    &-mail__mailbox {
      width: 358px;
    }

    &-btn {
      margin: 0px 0px 0px 12px;
    }
  }
}
