* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  max-width: 1600px;
  margin: 0px auto;
  box-sizing: border-box;
}
img {
  display: block;
  font-size: 0;
}
ul {
  list-style-type: none;
}

.section {
  padding: 94px 0px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding: 60px 0px;
  }
}
