.page--color {
  background-color: white;
}
// background-image: url(../images/background_desktop.jpg);

.page__image {
  width: 100%;
  height: auto;
  background-image: url(../images/background_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &--overlay {
    background: rgba(47, 48, 58, 0.4);
    display: block;
    width: 100%;
    height: auto;
  }

  &-text {
    font-size: 26px;
    line-height: 1.61;
    margin: 24px 43px 30px 42px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
}
.page__image--pos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page__btn {
  color: white;
  background-color: $hoverColor;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  justify-content: center;
  align-items: center;
}

.page__section-header {
  color: $fontColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  &--hidden {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .page__image {
    background-repeat: no-repeat;
    background-position: center;

    &-text {
      font-size: 44px;
      line-height: 1.36;
      margin: 106px 252px 30px 252px;
    }
  }
}

.page__section-header--hidden {
  visibility: visible;
  display: block;
}

// @media screen and (min-width: $tablet) {
//   .page__image {
//     background-image: url(../images/background_tablet.jpg);
//     max-width: 100%;
//     max-height: 100%;

//     &--overlay {
//       display: block;
//       max-width: 100%;
//       max-height: 100%;
//     }

//     &-text {
//       font-size: 26px;
//       line-height: 1.61;
//       margin: 24px 186px 30px 187px;
//     }

//     .page__btn {
//       margin: 0px 268px;
//     }
//   }

//   @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//     .page__image {
//       background-image: url(../images/background_tablet2x.jpg);
//       background-size: cover;
//     }
//   }
// }
